
<link rel="import" href="/src/views/my-cmp.html">



<dom-module id="my-app">

	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

		<style>
			:host {
				display: block;
			}
		</style>

		<div class="layout horizontal">

			<div class="layout flex">
				 <my-cmp></my-cmp> 
			</div>

			<input type="button" value="test click" on-click="onClick" />

		</div>

	</template>

	<script>
		SystemJS.import('views/my-app').then(function (mod) {
			customElements.define("my-app", mod.MyApp); 
		});
	</script>
	
</dom-module>